* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1d1d1d;
}

.logo img {
  width: 32px;
  height: 32px;
  padding-left:25px;
  padding-top: 4px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 25px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Hero Section */
.hero {
  background-image: url("../img/space.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mars {
  background-image: url("../img/mars_glow__dark.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 325px;
  width: 100%;
  max-width: 1366px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.gradient {
  height: 161.25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background: rgb(5, 5, 5);
  background: -moz-linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(5, 5, 5, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(5, 5, 5, 0) 100%
  );
  background: linear-gradient(0deg, rgba(5, 5, 5, 1) 0%, rgba(5, 5, 5, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050505", endColorstr="#050505", GradientType=1);
}

/* Hero Title */
.hero-title {
  font-size: 128px;
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  transition: ease 750ms;
  /* animation: fadeUp 1.25s ease;
    animation-delay: 1s; */
}

.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
  animation-delay: 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    padding-top: 400px;
  }
  to {
    opacity: 1;
    padding-top: 100px;
  }
}

/* Floating Cards */
.mars img:nth-child(1) {
  margin: 0 0 0 150px;
  float: left;
}

.mars img:nth-child(2) {
  margin: 100px 100px 0 0;
  float: right;
  animation-delay: 0.5s;
}

/* Hero Button Group */
.button-group {
  display: flex;
  margin: 0 auto;
  width: max-content;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 225px;
  z-index: 5;
  position: relative;
}

.button-group button:nth-child(1) {
  background-color: #f2900f;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  animation-delay: 1.25s;
}

.button-group button:nth-child(2) {
  background-color: #1d1d1d;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  animation-delay: 1.5s;
}

.button-group button:nth-child(2) a {
  text-decoration: none;
}

/* Join Discord Section */
.join-discord {
  background: rgb(12, 12, 12);
  background: -moz-linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: -webkit-linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0c0c",endColorstr="#727272",GradientType=1);

  -webkit-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 75px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 50px;
  text-align: center;
}

.join-discord p {
  margin: 10px 0 10px 0;
}

.join-discord button {
  background-color: #f2900f;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
}

/* How it works */
.how-it-works {
  background: rgb(12, 12, 12);
  background: -moz-linear-gradient(
    292deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: -webkit-linear-gradient(
    292deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: linear-gradient(
    292deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0c0c",endColorstr="#727272",GradientType=1);
  -webkit-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.how-it-works .text-content {
  width: 45%;
  min-width: 300px;
}

.how-it-works .text-content h3{
    font-size: 16px;
}

.how-it-works .text-content h2{
    font-size: 36px;
    margin-bottom: 10px;
}

.how-it-works .text-content p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.how-it-works .text-content button{
    background-color: #f2900f;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.how-it-works .image {
    background-image: url("../img/chart.PNG");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: auto;
    min-height: 300px;
    width: 45%;
    min-width: 300px;
}

/* Steps */
.steps {
    width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  padding: 50px;
}

.steps .divider {
    margin: 10px 0;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.step {
    background-image: url("../img/steps.png");
    height: 194.97px;
    width: 225px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
    margin-top: 25px;
}

.step h3 {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.step p {
    font-size: 20px;
}

/* Testimonials */
.testimonials {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
}

.testimonials .divider {
  margin: 10px 0;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial {
  margin-top: 25px;
  width: 250px;
  min-width: 250px;
}

.stars {
  margin: 10px 0;
}

/* Faq */
.faq {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
}

.faq .divider {
  margin: 10px 0;
}

.faq-container {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faq-item {
  border-bottom: 1px solid #fff;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-answer {
  display: none;
  padding: 15px 20px;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(90deg);
}

/* Join Solar */
.join-solar {
  background: rgb(12, 12, 12);
  background: -moz-linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: -webkit-linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  background: linear-gradient(
    39deg,
    rgba(12, 12, 12, 1) 0%,
    rgba(28, 28, 28, 0.5186449579831933) 72%,
    rgba(114, 114, 114, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0c0c",endColorstr="#727272",GradientType=1);

  -webkit-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  -moz-box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 14.3px 0px rgba(255, 255, 255, 0.06);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  padding: 50px;
  text-align: center;
}

.join-solar p {
  margin: 10px 0 10px 0;
}

.join-solar button {
  background-color: #f2900f;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
}

/* Footer */
.footer {
  background-color: #101010;
  padding: 25px;
  margin-top: 50px;
  text-align: center;
}

.footer p {
  font-size: 12px;
}

.footer h6 {
  margin-top: 25px;
}

@media only screen and (max-width: 1200px) {
  .mars img:nth-child(1) {
    margin: 0 0 0 100px;
    float: left;
  }
}

@media only screen and (max-width: 1100px) {
  .mars img:nth-child(1) {
    display: none;
  }
  .mars img:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 1125px) {
    .steps-container {
        justify-content: space-evenly;
    }
  }

@media only screen and (max-width: 1000px) {
  .mars {
    height: 30%;
  }
}

@media only screen and (max-width: 750px) {
    .how-it-works .image {
        display: none;
    }

    .how-it-works .text-content {
        width: 100%;
    }

    .steps-container {
        flex-direction: column;
    }
  }

@media only screen and (max-width: 500px) {
  .hero-title {
    font-size: 100px;
  }
  .hero {
    height: 500px;
  }
  .join-discord {
    padding: 20px;
    margin-top: 75px;
  }

  .how-it-works {
    padding: 20px;
  }

  .join-solar {
    padding: 20px;
  }

  .faq {
    padding: 20px;
  }

  .testimonials {
    padding: 20px;
  }

  .steps {
    padding: 20px;
  }

  .faq-question {
    font-size: 14px;
  }
  .button-group {
    width: 80%;
    justify-content: space-between;
  }
  .button-group button {
    width:150px;
    margin-top: 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {

  .hero-title {
    font-size: 60px;
    margin-bottom: 25px;
  }

  .hero {
    height: 400px;
  }
  .how-it-works .text-content{
    min-width: none;
    }
    .join-discord {
      padding: 20px;
      margin-top: 75px;
    }

    .how-it-works {
      padding: 20px;
    }

    .join-solar {
      padding: 20px;
    }

    .faq {
      padding: 20px;
    }

    .testimonials {
      padding: 20px;
    }

    .steps {
      padding: 20px;
    }

    .faq-question {
      font-size: 14px;
    }

    .button-group {
      width: 80%;
      justify-content: space-between;
    }
    .button-group button {
      width:130px;
      font-size: 16px;
    }

}
